.myBody {
    font-family: 'Oswald', sans-serif;
}

.div01 {
    position: relative;
    height: 300px;
}

.image01 {
    width: 200px;
    height: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.divMyName {
    position: relative;
    text-align: center;
    font-size: 25px;
    margin: 0;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.externalDivIcons{
    position: relative;
    height: 80px;
}

.divIcons {
    position: absolute;
    height: 100px;
    width: 200px;

    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.githubIcon, .linkedinIcon, .instagramIcon {
    width: 50px;
    height: 50px;

    transition: transform .2s;
    z-index: 0;

    margin: 0;
    position: absolute;
    top: 20%;
/*     -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.githubIcon:hover, .linkedinIcon:hover, .instagramIcon:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}


.githubIcon {
    left: 0%;
}

.linkedinIcon {
    left: 40%;
}

.instagramIcon {
    left: 80%;
}

.divBriefDescription {
    position: relative;
    height: 100px;
    text-align: center;
}

.divMailUrl{
    position: relative;
    height: 50px;
}

.mailUrl{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.divDownloadCV{
    position: relative;
    height: 50px;
}

.downloadCVes, .downloadCVen{
    margin: 0;
    position: absolute;
    top: 50%;
    
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.downloadCVes{
    left: 45%;
}

.downloadCVen{
    left: 55%;
}

@media only screen and (max-width: 900px) {
    .downloadCVes{
        left: 40%;
    }
    
    .downloadCVen{
        left: 60%;
    }
  }